body {
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    text-align: center;
}
#bigdiv {
    border: solid 1px rebeccapurple;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
    width: 480px;
    height: 480px;
    align-items: center;
}
p {
    margin: 0;
}
img {
    margin-top: 15px;
    border-radius: 5px;
}

.divz {
    background-color: lavender;
    color:black;
    text-align: center;
	width: 100px;
	height: 80px;
	float: left;
    background-repeat: no-repeat;
    /* border: solid 5px; */
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.placeholder-img {
    content:url("img/x.png");
}

#pinecone {
    content:url("img/pinecone.png");
    width: 30px;
    height: 30px;
}