body {
    font-family: 'Courier New', Courier, monospace;

}
h1 {
    text-align: center;
}
#bigdiv {
    border: solid 1px rebeccapurple;
    border-radius: 10px;
    padding: 20px;
    
    background-color: lavender;
    width: 400px;
    height: 400px;
}

#mr-smith-div {
    background-color: whitesmoke;
}
#webpage {
    background-color: beige;
}
#webpage2 {
    background-color: blue;
}

.divz {
    text-align: center;
	width: 100px;
	height: 80px;
	float: left;
    background-repeat: no-repeat;
    /* border: solid 5px; */
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}