/*x @viewport {
    width: device-width ;
    zoom: 2.0 ;
  }*/

body{
    background-color: white;
    font-family: sans-serif;
    /* overflow: hidden; */
} /*
#swipeBox{
    position:relative;
    width: 100%;
    height: 400px;
}*/
h1{
    margin: 5px;
}
.tab{
    font-weight: bold;
    border: solid lightgray;
    border-radius: 3px 3px 0 0;
    border-width: 1px 1px 0px 1px;
    display: inline-block;
    background-color: #e6e6e6  /* #f2f2f2; e6e6e6 */
}
#thirdTab, #forthTab{
    visibility: hidden;
}
#coinView{
    display: none;
    position: absolute;
	height: 50px;
	width: 80px;
    border: solid lightgray;
    border-width: 0px 2px 2px 0px;
    border-radius: 2px;
    z-index: 11;
    background-color: e6e6e6;
}
#messageView{
    display: none;
    position: absolute;
	height: 150px;
	width: 180px;
    border: solid lightgray;
    border-width: 0px 2px 2px 0px;
    border-radius: 2px;
    z-index: 11;
    background-color: e6e6e6;
    overflow-x: hidden; 
    overflow-y: auto; 
}
#coin_count {

}
#message {

}
#bigDiv{
    text-align: center;
    margin: 5px;
    border: solid 2px lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    /* max-width: 500px; */
}
#content {
    display: inline-block;
    position: relative;
	height: 320px;
	width: 320px;
    border: solid 3px lightgray;
    border-radius: 2px;
}

#baddie {
	position: absolute;
	z-index: 10;
	width:32px;
	height:32px;
	background-repeat:no-repeat; 
}
.arrow{
    touch-action: manipulation;
    font-weight: bold;
    height: 40px;
    text-align: center;
    margin: 2px 1px 2px 1px;
    background-color: e6e6e6;
    border: 1px solid lightgray;
    /*position: absolute; */
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    /*position: relative;*/
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; */
}
#arrowLeft {
padding: 5px 50px 2px 50px;
}
#arrowRight {
padding: 5px 50px 2px 50px;
}
#arrowUp {
padding: 5px 100px 2px 100px;
}
#arrowDown {
padding: 5px 100px 2px 100px;
}
.baddieDoctorWho {
	background-image: url(../img/DoctorWho.png);
}
.baddieTardis {
    background-image: url(../img/Tardis.png);
}

.baddie-right {}

.baddie-left {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.tile, .t {
	width: 32px;
	height: 32px;
	float: left;
	background-repeat: no-repeat;
}

.t10 {
	background: url(../img/tiles/grass.png);
}
.t11 {
	background: url(../img/tiles/brick-wall.png);
}
.t12 {
	background: url(../img/tiles/dalek_grass.png);
}
.t13 {
	background: url(../img/tiles/tardis_door2.png);
}
.t14 {
	background: url(../img/tiles/coin_gold_grass1.png);
}
.t15{
    background: url(../img/tiles/vortex-grass.png);
}
.t16 {
    background: url(../img/tiles/guard-grass.png);
}
.t17 {
    background: url(../img/tiles/guard2-grass.png);
}
.t18 {
    background: url(../img/tiles/penguin-grass.png);
}
.t19 {
    background: url(../img/tiles/penguin-outline-grass.png);
}

.ti10 {
    background: url(../img/tiles/space1.png)
}
.ti11 {
    background: url(../img/tiles/space-wall.png);
}
.ti12{
    background: url(../img/tiles/sun.png);
}
.ti13 {
    background: url(../img/tiles/earth.png);
}
.ti14 {
    background: url(../img/tiles/gem_red_space1.png);
}
.ti15{
    background: url(../img/tiles/vortex-space.png);
}
.ti16 {
    background: url(../img/tiles/guard-space.png);
}
.ti17 {
    background: url(../img/tiles/guard2-space.png);
}
.ti18 {
    background: url(../img/tiles/penguin-space.png);
}
.ti19 {
    background: url(../img/tiles/space1.png);
}
.guard{
    background: url(../img/guard-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}
.guard2{
    background: url(../img/guard2-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}
.penguin{
    background: url(../img/penguin-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}