/* @viewport {
    width: device-width ;
    zoom: 2.0 ;
  }
body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    position:fixed;
}
h1 {
    margin: 0;
}
p {
    margin: 10px;
}
#swipeBox{
    position:relative;
    width: 100%;
    height: 400px;
}
#bigdiv {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
    width: 620px;
    max-width: 620;
    height: 620px;
} 
#coin_count {
	left: 360px;
	top: 130px;
	position: absolute;  
}
.side-info{
    left: 360px;
	top: 180px;
	position: absolute;  
}

#message {
	left: 360px;
	top: 215px;
	position: absolute;  
}
body {
    text-align: center;
    display: block;
}
*/
body{
    text-align: center;
}
#content {
    display: inline-block;
    position: relative;
	height: 320px;
	width: 320px;
    border: solid 3px lightgray;
    border-radius: 2px;
}

#baddie {
	position: absolute;
	z-index: 10;
	width:32px;
	height:32px;
	background-repeat:no-repeat; 
}

.baddieDoctorWho {
	background-image: url(../img/DoctorWho.png);
}
.baddieTardis {
    background-image: url(../img/Tardis.png);
}

.baddie-right {}

.baddie-left {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.tile, .t {
	width: 32px;
	height: 32px;
	float: left;
	background-repeat: no-repeat;
}

.t10 {
	background: url(../img/tiles/grass.png);
}
.t11 {
	background: url(../img/tiles/brick-wall.png);
}
.t12 {
	background: url(../img/tiles/dalek_grass.png);
}
.t13 {
	background: url(../img/tiles/tardis_door2.png);
}
.t14 {
	background: url(../img/tiles/coin_gold_grass1.png);
}
.t15{
    background: url(../img/tiles/vortex-grass.png);
}
.t16 {
    background: url(../img/tiles/guard-grass.png);
}
.t17 {
    background: url(../img/tiles/guard2-grass.png);
}
.t18 {
    background: url(../img/tiles/penguin-grass.png);
}
.t19 {
    background: url(../img/tiles/penguin-outline-grass.png);
}

.ti10 {
    background: url(../img/tiles/space1.png)
}
.ti11 {
    background: url(../img/tiles/space-wall.png);
}
.ti12{
    background: url(../img/tiles/sun.png);
}
.ti13 {
    background: url(../img/tiles/earth.png);
}
.ti14 {
    background: url(../img/tiles/gem_red_space1.png);
}
.ti15{
    background: url(../img/tiles/vortex-space.png);
}
.ti16 {
    background: url(../img/tiles/guard-space.png);
}
.ti17 {
    background: url(../img/tiles/guard2-space.png);
}
.ti18 {
    background: url(../img/tiles/penguin-space.png);
}
.ti19 {
    background: url(../img/tiles/space1.png);
}
.arrow{
        touch-action: manipulation;
        font-family: Arial;
        font-weight: bold;
        width: 55px;
        height: 35px;
        text-align: center;
        padding: 7px;
        padding-bottom: 4px;
        margin: 5px;
        background-color: silver;
        border: 2px solid grey;
        position: absolute;
        cursor: pointer;
        border-radius: 5px;
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
#arrowLeft {
        left: 120px;
        top: 450px;
}
#arrowRight {
        left: 200px;
        top: 450px;
}
#arrowUp {
        left: 160px;
        top: 410px;
}
#arrowDown {
        left: 160px;
        top: 490px;
}
.guard{
    background: url(../img/guard-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}
.guard2{
    background: url(../img/guard2-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}
.penguin{
    background: url(../img/penguin-small.png);
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 5px;
}