/*x @viewport {
    width: device-width ;
    zoom: 2.0 ;
  }*/

body{
    background-color: white;
    font-family: sans-serif;
    /* overflow: hidden; */
}
#swipeBox{
    /*position:relative;
    width: 100%;
    height: 400px; */
}
h1{
    margin: 5px;
}
p {
    margin: 2px;
}
.popMessage {
    text-align: center;
    padding: 10px;
    position: absolute;
    margin: 40px;
    width: 220;
    border: solid lightgray;
    border-width: 3px;
    border-radius: 2px;
    z-index: 11;
    background-color: whitesmoke;
}
.tab{
    font-weight: bold;
    border: solid lightgray;
    border-radius: 3px 3px 0 0;
    border-width: 1px 1px 0px 1px;
    display: inline-block;
    background-color: #e6e6e6  /* #f2f2f2; e6e6e6 */
}
#forthTab{
    visibility: hidden;
}
#coinView{
    padding: 3px;
    display: none;
    position: absolute;
	height: 55px;
	width: 121px;
    border: solid lightgray;
    border-width: 0px 2px 2px 0px;
    border-radius: 2px;
    z-index: 11;
    background-color: whitesmoke;
}
#messageView{
    margin-left: 35px;
    padding: 3px;
    display: none;
    position: absolute;
	height: 152px;
	width: 244px;
    border: solid lightgray;
    border-width: 0px 2px 2px 2px;
    border-radius: 2px;
    z-index: 13;
    background-color: whitesmoke;
    overflow-x: hidden; 
    overflow-y: auto; 
}
#coin_count {

}
#message {
    position: absolute;
    text-align: left;
}
#bigDiv{
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;

    
    text-align: center;
    margin: 5px;
    border: solid 2px lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    min-width:326px;
    max-width:600px;
    text-align:center;
    margin:0 auto;
}
#content {
    display: inline-block;
    position: relative;
	height: 320px;
	width: 320px;
    border: solid 3px lightgray;
    border-radius: 2px;
}

#baddie {
	position: absolute;
	z-index: 10;
	width:32px;
	height:32px;
	background-repeat:no-repeat; 
}
.arrow{
    touch-action: manipulation;
    font-weight: bold;
    height: 40px;
    text-align: center;
    margin: 2px 1px 2px 1px;
    background-color: e6e6e6;
    border: 1px solid lightgray;
    /*position: absolute; */
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    /*position: relative;*/
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
#arrowLeft {
padding: 5px 50px 2px 50px;
}
#arrowRight {
padding: 5px 50px 2px 50px;
}
#arrowUp {
padding: 5px 100px 2px 100px;
}
#arrowDown {
padding: 5px 100px 2px 100px;
}
.baddieAnna {
	background-image: url(../img/anna.png);
}
.baddieAnnaWork {
	background-image: url(../img/anna-work.png);
}
.baddieSebastian {
	background-image: url(../img/sebastian.png);
}
.baddieSebastianWork {
	background-image: url(../img/sebastian-work.png);
}
.baddieTardis {
    background-image: url(../img/rocket.png);
}
.baddieMoa {
	background-image: url(../img/moa.png);
}
.baddieMoaWork {
	background-image: url(../img/moa-work.png);
}
.baddie-up{}

.baddie-right {}

.baddie-left {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.baddie-point-right{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.baddie-point-left{
    transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
.baddie-down {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.tile, .t {
	width: 32px;
	height: 32px;
	float: left;
	background-repeat: no-repeat;
}

.g10 {
	background: url(../img/tiles/grass.png);
}
.s10 {
    background: url(../img/tiles/space.png)
}
.a10 {
    background: url(../img/tiles/agate.png)
}
.g11 {
	background: url(../img/tiles/tree-grass.png);
}
.s11 {
    background: url(../img/tiles/wall-space.png);
}
.a11 {
    background: url(../img/tiles/wall-agate.png);
}
.g12 {
	background: url(../img/tiles/obstacle-grass.png);
}
.s12{
    background: url(../img/tiles/obstacle-space.png);
}
.a12{
    background: url(../img/tiles/obstacle-agate.png);
}
.g13 {
	background: url(../img/tiles/spaceship-grass.png);
}
.s13 {
    background: url(../img/tiles/planet-green.png);
}
.a13 {
	background: url(../img/tiles/spaceship-agate.png);
}
.g14 {
	background: url(../img/tiles/coin-grass.png);
}
.s14 {
    background: url(../img/tiles/coin-space.png);
}
.a14 {
    background: url(../img/tiles/coin-agate.png);
}
.g15{
    background: url(../img/tiles/vortex-grass.png);
}
.s15{
    background: url(../img/tiles/vortex-space.png);
}
.g16 {
    background: url(../img/tiles/guard-grass.png);
}
.s16 {
    background: url(../img/tiles/guard-space.png);
}
.g17 {
    background: url(../img/tiles/guard2-grass.png);
}
.s17 {
    background: url(../img/tiles/guard2-space.png);
}
.g18 {
    background: url(../img/tiles/bag-grass.png);
}
.s18 {
    background: url(../img/tiles/bag-space.png);
}
.g19 {
    background: url(../img/tiles/work-grass.png);
}
.s19 {
    background: url(../img/tiles/work-grass.png);
}
.g20 {
    background: url(../img/tiles/planet-blue.png);
}
.s20 {
    background: url(../img/tiles/planet-blue.png);
}
.g21 {
    background: url(../img/tiles/planet-orange.png);
}
.s21 {
    background: url(../img/tiles/planet-orange.png);
}
.g22 {
    background: url(../img/tiles/grass.png); /* exit*/
}
.s22 {
    background: url(../img/tiles/space.png);
}
.g23 {
    background: url(../img/tiles/grass.png); /* entry */
}
.s23 {
    background: url(../img/tiles/space.png);
}
.g24 {
    background: url(../img/tiles/vortex2-grass.png);
}
.s24 {
    background: url(../img/tiles/vortex2-space.png);
}
.g25 {
    background: url(../img/tiles/phone-grass.png);
}
.s25 {
    background: url(../img/tiles/phone-space.png);
}
.a25 {
    background: url(../img/tiles/phone-agate.png);
}

#guard{
    content:url(../img/guard.png);
    background-size: 100%;
}
#guard2{
    content:url(../img/guard2.png);
    background-size: 100%;
}
#vortex{
    content:url(../img/vortex.png);
    background-size: 100%;
}
#vortex2{
    content:url(../img/vortex2.png);
    background-size: 100%;
}
#doctorWho{
    content:url(../img/anna.png);
    background-size: 100%;
}
#phone{
    content:url(../img/phone.png);
    background-size: 100%;
}
#anna, .anna{
    content:url(../img/anna.png);
    background-size: 100%;
}
#sebastian, .sebastian {
    content:url(../img/sebastian.png);
    background-size: 100%;
}
#moa, .moa{
    content:url(../img/moa.png);
    background-size: 100%;
}
#swap-img{
    height: 10px;
    width: 10px;
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: middle;
}
.profile-pic {
    height: 18.4px;
    width: 18.4px;
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: middle;
    
}
.chat{
    font-size: 16px;
    display: inline;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}